/*======== margin top ================*/
.app-mt-26 {
  margin-top: 26px; // 26px
}

.app-mt-34 {
  margin-top: 34px;
}

.app-mt-31 {
  margin-top: 31px;
}

.app-mt-20 {
  margin-top: 20px; // 20px
}

.app-mt-16 {
  margin-top: 16px; // 16px
}

.app-mt-small-1 {
  margin-top: 0.813rem; // 13px
}

.app-mt-8 {
  margin-top: 8px;
}

/*======== margin bottom ================*/
.app-mb-small {
  margin-bottom: 0.25rem; // 4
}

.app-mb-5 {
  margin-bottom: 0.313rem;
}

.app-mb-6 {
  margin-bottom: 6px;
}

.app-mb-8 {
  margin-bottom: 8px;
}

.app-mb-24 {
  margin-bottom: 24px;
}

